/* Default styles that will carry to the child style sheet */
html,body,h1,h2,h3,h4,h5,h6,ul,li,div,span,p,a {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei';
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* main-progress */
.main-progress {
    position: relative;
}

/* first-mask setting start */
.main-progress > .first-mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: none; /*默认给第一层设置隐藏*/
}
/* first-mask setting end */

/* Top-banner setting start */
.main-progress > .Top-banner {
    margin-bottom: 20px;
    width: 100%;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #EAEAEA;
    border-color: rgba(0,0,0,.08);
    box-shadow: 0 1px 3px rgba(0,0,0,.03);
}

.logo {
    margin-left: 20px;
    width: 200px;
    height: 100%;
    float: left;
}

.logo > a {
    display: inline-block;
    width: 100px;
    height: 100%;
}

.logo > a > img {
    margin: 20px 0 20px 0;
    width: 90px;
    height: 30px;
}

.logo > span {
    margin-top: 15px;
    display: inline-block;
    float: right;
    width: 90px;
    height: 40px;
    padding-left: 15px;
    color: #919090;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    border-left: 2px solid #bdbdbd;
}

.search {
    margin: 20px 60px 20px 20px;
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 5px;
    position: relative;
}

.search > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #ff9eaf;
}

.search > a:hover {
    color: #45B6F7;
}

.search > .searchSub {
    position: absolute;
    top: 35px;
    right: -10px;
    z-index: 10001;
    width: 300px;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search > .searchSub > form > input#search_text {
    width: 248px;
    height: 33px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 0;
    float: left;
    text-indent: 10px;
}

.search > .searchSub > form > input#search_btn {
    width: 50px;
    height: 33px;
    border: 0;
    border-radius: 0 5px 5px 0;
    outline: none;
    float: right;
    background: #ff9eaf;
}

.banner {
    float: right;
    width: 300px;
    height: 30px;
    margin: 20px 0 20px 0;
}

.banner > ul > li {
    list-style: none;
    float: left;
    width: 75px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

.banner > ul > li > a {
    color: #919090;
}

.banner > ul > li > a:hover {
    color: #45B6F7;
}
/* Top-banner setting end*/

/* user setting start */
.sidebar {
    width: 360px;
    height: 300px;
    float: right;
    margin-right: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .03);
}

.sidebar > .sideTopBar {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .08);
    border-radius: 5px 5px 0 0;
    color: #666;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: default;
}

.sidebar > userMain > p {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.sidebar > userMain > .userMain_btn {
    margin: 50px 0 0 120px;
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 2px solid #ddd;
    border-radius: 50px;
}
/* user setting end */

/* musicAU setting start */
.main-progress > .musicAU {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(232,23,255,0.25);
}

.main-progress > .musicAU > #music-panel {
    height: 100%;
}

#music-control-panel {
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
}

#music-control-panel > span {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.music-control-panel-btn {
    position: absolute;
    bottom: 5px;
}

.music-control-panel-btn > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    background-size: 300%;
}

a#audio_prev {
    background-position: 1px -40px;
}

a#audio_parse {
    background-position: 1px 0px;
}

a#audio_next {
    background-position: -81px -40px;
}

a#audio_stop {
    background-position: -81px 0;
}

/* musicAU setting end */

/**PC**/
@media only screen and (min-width: 1025px) {

    /* musicAU setting start */
    .main-progress > .musicAU {
        height: 130px;
    }

    #music-control-imas {
        float: left;
        margin: 10px;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 6px solid #ccc;
        /*  动画旋转特效  */
        -webkit-animation: spin 5s linear;
        animation: spin 5s linear infinite;
    }
    /* musicAU setting end */

}

/** iPad **/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* musicAU setting start */
    .main-progress > .musicAU {
        height: 100px;
    }

    #music-control-imas {
        float: left;
        margin: 10px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 6px solid #ccc;
        /*  动画旋转特效  */
        -webkit-animation: spin 5s linear;
        animation: spin 5s linear infinite;
    }

    /* musicAU setting end */

}

/** iPhone **/
@media only screen and (min-width: 320px) and (max-width: 767px) {

    html,body{
        background-image: url("../img/mobile_bg.jpg");/*背景图片*/
        background-size: 100%; /*让背景图片宽度设置为横向100%，防止图片过大，超出范围*/
        background-repeat: no-repeat; /*设置不重复帖图*/
        background-color: #ffeedc !important; /*设置背景颜色与图片背景色一致*/
        background-position: bottom center; /*设置图片居中防止屏幕大小不同而跑偏*/
    }

    /* musicAU setting start */

    .main-progress > .musicAU {
        height: 100px;
    }

    #music-control-imas {
        float: left;
        margin: 10px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 6px solid #ccc;
        /*  动画旋转特效  */
        -webkit-animation: spin 5s linear;
        animation: spin 5s linear infinite;
    }

    /* musicAU setting end */

}

/* 旋转动画关键帧 */
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.fade-enter-active, .fade-leave-active {
    transition: opacity 2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active, 2.1.8 版本以下 */ {
    opacity: 0
}