<!DOCTYPE html>
<html lang="en">
<head>
    <!--  响应式  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>with your love</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/encapsulations.js"></script> <!--  自己封装的 jq 方法  -->
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript">
        // NProgress.start();
    </script>
</head>
<body>
<div class="main-progress">
    <!--  第一层蒙版  -->
    <div class="first-mask">
        this is first mask
    </div>
    <!--  留置主框架的功能区  -->
    <!--  状态栏  -->
    <div class="Top-banner">
        <div class="logo">
            <a :href="logo.linkURL">
                <!--  设置尺码大小为： 的 Logo 图片  -->
                <img :src="logo.picURL" :alt="logo.ALT" >
            </a>
            <!--  来一段品牌标语  -->
            <span v-html="logo.poster"></span>
        </div>
        <div class="search">
            <a href="javascript: void(0)" @click="setIcon()" >
                <span class="glyphicon" :class="{'glyphicon-search': searchIcon, 'glyphicon-remove': removeIcon}"></span>
            </a>
            <div class="searchSub" v-if="seaDis">
                <form action="">
                    <input type="text" name="" id="search_text">
                    <input type="button" value="搜索" id="search_btn">
                </form>
            </div>
        </div>
        <div class="banner">
            <ul>
                <li v-for="list in mList">
                    <a :href="list.iURL">{{ list.iTitle }}</a>
                </li>
            </ul>
        </div>
    </div>
    <!--  用户区域  -->
    <div class="sidebar">
        <div class="sideTopBar">
            <span>用户中心</span>
        </div>
        <usermain id="usermain">
            <p>需要登录才能进行操作</p>
            <div class="userMain_btn">
                <a href="javascript: void(0);" @click="loadLogin()">登录</a> \ <a href="javascript: void(0);" @click="loadReg()">注册</a>
            </div>
        </usermain>
    </div>
    <!--  百试不爽的音乐播放器 (先暂时隐藏起来）  -->
    <div class="musicAU" style="display: none">
        <div id="music-panel">
            <a href="javascript: void(0);" id="music-control-imas-btn" @click="autoIndentSet()">
                <img id="music-control-imas" :src="musicSrc.img" alt="">
            </a>
            <div id="music-control-panel">
                <span>{{ musicSrc.mtitle }}</span>
                <!--  按钮集  -->
                <div class="music-control-panel-btn">
                    <a href="javascript: void(0);" @click="prevMusic()" id="audio_prev"></a>
                    <a href="javascript: void(0);" @click="parseAndPlay()" id="audio_parse"></a>
                    <a href="javascript: void(0);" @click="nextMusic()" id="audio_next"></a>
                    <a href="javascript: void(0);" @click="stopMusic()" id="audio_stop"></a>
                </div>
            </div>
        </div>
        <audio id="audioPayer" ref='audio' :src="musicSrc.msrc" controls autoplay="autoplay" hidden="true"></audio>
    </div>
</div>
<!--  bootsrap.js 依赖文件  -->
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap-v4.0.0.min.js"></script>
</body>
<script type="text/javascript">
</script>
</html>